#header{
    padding: 10px;
    padding-top: 50px;
    text-align: center;
    background: #89cff0;
    grid-area: header;
    font-family: 'DM Sans', sans-serif;
 }
  
button{
    padding: 15px 32px;
    margin: 5px;
    background-color: #FAC898;
    cursor: pointer;
 }
  
body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content";
    background-color: white;
    gap: 10px;
 }
  

 #content{
   grid-area: main_content;
   display: grid;
   grid-template-columns: .5fr 1fr .5fr;
   grid-template-areas: "buttons main_map stories";
   column-gap: 1%;
   padding-left: 3%;
   padding-right: 3%;
   
}
  
 
#placeForButtons{ 
   grid-area: buttons;
   /* display: grid;
   grid-template-columns: repeat(3, 1fr); */
} 


#the_map{
   height: 80vh;
   grid-area: main_map;
}


#stories{ /*right side panel*/
   grid-area: stories;
   font-family: 'DM Sans', sans-serif;
}

  
#footer{
   grid-area: footer;
}
  
  
 #surveyButton a{
    color: #212121;
    text-decoration: none;
 }
  
 
 